<div class="container-sm my-5 mainbox">
  <div class="jumbotron jumbotron-fluid bg-danger text-light box">
    <div class="container">
      <h1 class="display-4 heading">About This App</h1>
      <p class="lead para">My First App, Created Using Angular. It helps you to create your todos and save it and delete it when completed. I have not used designing in this as I was focusing on Angular concepts. Want to know about me or need any assistance feel free to message.</p>
    </div>
  </div>
</div>

